.categories_list{
    list-style: none;
    padding: 0;
}

.card-body{
    transition: box-shadow .3s;
}

.card-body:hover{
    text-decoration: none;
    box-shadow: 0 0 5px 5px rgb(147, 153, 172);
}

.category_link:hover{
    text-decoration: none;
}