.nav-colour {
  
background: #8E2DE2;  
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2); 
background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.landing-grid{

  /* Utilizamos la página de https://uigradients.com/#CoolSky para la gama de colores de la página */

background: #2980B9;  
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 

  text-align: center;
  position: fixed;
  top: 15;
  width: 100%;
  height: 100%;
  left: 0;
}

/* Carrusel que ocupa el 100% */

html, body, #container, .carousel {
	height:100%;
	margin: 0;
	width: 100%;
}

.image-slide {
	height: 100%;
	width: 100%;
	transition: background-image .3s ease-in-out;
}

.slide-arrow {
	color: rgb(119, 20, 212);
	cursor: pointer;
	font-size: 2rem;
	position: fixed;
	top: 50%;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}

/* Categorias */
h3 {
	background: blue;
	color: #fff;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
  }
  .variable-width .slick-slide p {
	background: blue;
	height: 100px;
	color: #fff;
	margin: 5px;
	line-height: 100px;
	text-align: center;
  }
  .center .slick-center h3 {
	color: #e67e22;
	opacity: 1;
	transform: scale(1.08);
  }
  .center h3 {
	opacity: 0.8;
	transition: all 300ms ease;
  }
  .content {
	padding: 20px;
	margin: auto;
	width: 90%;
  }
  .slick-slide .image {
	padding: 10px;
  }
  .slick-slide img {
	border: 5px solid #fff;
	display: block;
	margin: auto;
  }
  .slick-slide img.slick-loading {
	border: 0;
  }
  .slick-slider {
	margin: 30px auto 50px;
  }
  .slick-dots {
	margin-left: 0;
  }
  .slick-thumb {
	bottom: -45px;
  }
  .slick-thumb li {
	width: 60px;
	height: 45px;
  }
  .slick-thumb li img {
	filter: grayscale(100%);
  }
  .slick-thumb li.slick-active img {
	filter: grayscale(0%);
  }
  /*Comienzo sección para celulares */
  @media (max-width: 768px) {
	h3 {
	  font-size: 24px;
	}
	.center {
	  margin-left: -10px;
	  margin-right: -40px;
	}
	.center .slick-center h3 {
	  color: #e67e22;
	  opacity: 1;
	  transform: scale(1);
	}
	.center h3 {
	  opacity: 0.8;
	  transform: scale(0.95);
	  transition: all 300ms ease;
	}
  }

  /*Fin sección para celulares */
  .slick-vertical .slick-slide {
	height: 180px;
  }
  .slick-arrow {
	background-color: grey;
	/* color: black; */
  }
  .slick-arrow:hover {
	background-color: rgb(180, 21, 253);
  }

   .slick-prev {
	z-index: 100;
	left: 20px !important;
  }
  .slick-next {
	z-index: 100;
	right: 20px !important;
  } 